<?xml version="1.0"?>
<config>
    <modules>
        <Lifeloc_Easycal>
            <version>0.1.0</version>
        </Lifeloc_Easycal>
    </modules>
    <global>
        <models>
            <lifeloc_easycal>
                <class>Lifeloc_Easycal_Model</class>
                <resourceModel>easycal_resource</resourceModel>
            </lifeloc_easycal>
            <easycal_resource>
                <class>Lifeloc_Easycal_Model_Resource</class>
                <entities>
                    <easycal>
                        <table>easycal_msg_list</table>
                    </easycal>
                </entities>
            </easycal_resource>
        </models>
        <helpers>
            <lifeloc_easycal>
                <class>Lifeloc_Easycal_Helper</class>
            </lifeloc_easycal>
        </helpers>
        <blocks>
            <lifeloc_easycal>
                <class>Lifeloc_Easycal_Block</class>
            </lifeloc_easycal>
        </blocks>
        <resources>
            <lifeloc_easycal_setup>
                <setup>
                    <module>Lifeloc_Easycal</module>
                    <class>Lifeloc_Easycal_Model_Resource_Setup</class>
                </setup>
            </lifeloc_easycal_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <lifeloc_easycal>
                <use>standard</use>
                <args>
                    <module>Lifeloc_Easycal</module>
                    <frontName>easycal</frontName>
                </args>
            </lifeloc_easycal>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Lifeloc_Easycal before="Mage_Adminhtml">Lifeloc_Easycal_Adminhtml</Lifeloc_Easycal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <lifeloc_easycal>
                    <file>lifeloc_easycal.xml</file>
                </lifeloc_easycal>
            </updates>
        </layout>
    </adminhtml>
</config>
